/* Заголовки #212121 */
/* Текст #757575 */
/* синий #2196F3 */
/* белый #FFFFFF */
/* Основной фон #FFFFFF */
/* фон черный #2F303A */
/* фон серый #F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acsent-color: #2196f3;
  --black-bgc-color: #2f303a;
  --gray-bcg-color: #f5f4fa;
  --background-color: #ffffff;
  --text-white-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link,
.logo {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  outline: 2px solid tomato;
}
/* ЗАГОЛОВОК */
.main-nav {
  display: flex;
  text-align: center;
}
/* site-nav стилизация меню */
.logo {
  color: var(--acsent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  margin-right: 93px;
  display: flex;
  padding-top: 24px;
  padding-top: 25px;
  width: 145px;
}
.logo-footer {
  color: var(--text-white-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
}
.logo-nav {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  display: block;
}

.top-nav {
  display: flex;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
 
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acsent-color);
}
.link.current {
  color: var(--acsent-color);
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* address-nav */
.address-nav {
  display: flex;
    margin-left: 331px;
  }
.address-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--acsent-color);
}
.addres-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 122px;
}
/* Блок герой */
.hero {
  background-color: var(--black-bgc-color);
  text-align: center;
  width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  /* margin-bottom: 30px;
  margin-left: 452px;
  margin-right: 452px; */
  width: 696px;
  height: 120px;
}
.hero-button {
  color: var(--text-white-color);
  background-color: var(--acsent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
}
/* <!-- Особенности --> */
.hidden-title {
  visibility: hidden;
  margin: 0 0;
}
.features {
  display: flex;
}
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 94px;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin: 0 0;
  padding-bottom: 94px;
}
.features .item + .item {
  margin-left: 30px;
}

/* <!-- Чем мы занимаемся --> */

/* <!-- Наша команда --> */
.section.team {
  background-color: var(--gray-bcg-color);
}
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* identical to box height */

  text-align: center;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

/*Подвал */
.footer {
  background-color: var(--black-bgc-color);
}
.address-list {
  font-style: normal;
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
  /* color: #ffffff;
  opacity: 60%; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts:hover,
.contacts:focus {
  color: var(--acsent-color);
}

.address-text {
  color: var(--text-white-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* or 171% */
}
/* ПОРТФОЛИО */
/* Фильтр */
.button {
  color: var(--title-text-color);
  background-color: var(--gray-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  color: var(--text-white-color);
  background-color: var(--acsent-color);
}
/* Примеры работ */
.example .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.example-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
